body{
    margin: 0;
    padding: 0;
    background-color:  rgb(224, 220, 220);
}
.inicio{
    background-color: black;
    color:aliceblue;
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.inicio1:hover{
    color: rgb(176, 94, 94);
}
.uno{
    display: flex;
    justify-content: row;
    background-color: rgb(255, 255, 255);
    width: 100vw;
}
.music{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}
.name{
    color: grey;
}

.links{
    display: flex;
    justify-content: center;
    height: 9vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:end;
}
.link{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}
.login{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(179, 179, 179);
}
.login:hover{
    color: white;
    background-color: rgb(145, 119, 119);
    border-radius: 5px;
}
.link:hover{
    color: white;
    background-color: black;
    border-radius: 5px;
}

.line{
    text-align: center;
}
.dos{
    display: flex;
    justify-content: row;
    align-items: center;
}

.par1{
    border: 3px solid black;
    border-radius: 15px;
    margin: px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 10px 11px 10px 1px rgb(103, 100, 98);
}
.part2{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 20px;
}

/* Para que el imagen se haga spin */

.img1{
    width: 80px;
    height: 78px;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    top: 50%;
    left: 50%;
}
@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

.img2{
    width: 250px;
    border-radius: 17px;
}
.img3{
    width: 250px;
    border-radius: 17px;
}
.img4{
    width: 250px;
    border-radius: 17px;
}

.tres {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tres1{
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
.tres2{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}
.tres3{
    border: 3px solid black;
    border-radius: 15px;
    margin-right: 15px;
    background-color: rgb(242, 123, 109);
    box-shadow: 10px 11px 10px 1px rgb(116, 66, 61);
}
.cuatro {
    display: flex;
    flex-direction: row-reverse;
}
.cuatro1{
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
.cuatro2{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}
.cuatro3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 15px;
    margin-left: 15px;
    background-color:rgb(219, 117, 204);
    box-shadow: 10px 11px 10px 1px rgb(124, 58, 114);
}
/*
.cuatro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.cuatro1{
    border: 4px solid black;
    border-radius: 15px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: rgb(219, 117, 204)
}
*/

.cinco{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cinco1{
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
.cinco2{
    margin-left: 15px;
    margin-right: 10px;
}
.cinco3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(144, 140, 139);
    box-shadow: 10px 11px 10px 1px rgb(87, 85, 85);
}